* {
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main {
    display: flex;
}

.main-text {
    background-color: #dfcece30;
}

.left-section {
    height: 100vh;
    width: 350px;
    position: relative;
}

.side-bar {
    height: 100vh;
}

.odin-logo {
    font-family: norse-bold;
    font-size: 70px;
    color: white;
    background-color: rgb(3 3 3 / 57%);
    opacity: 1.50;
    position: absolute;
    top: 150px;
    width: inherit;
    display: flex;
    justify-content: center;
}

.image-credit {
    position: absolute;
    bottom: 0;
    width: inherit;
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.button-section {
    background-color: #dfcece30;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #596D48;
}

input {
    border: 1px solid #E5E7EB;
}

input.focus {
    border: 1px solid blue;
    box-shadow: lightblue;
}

a {
    text-decoration: none;
    color: inherit;
}