body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

.main {
    display: flex;
    height: 100vh;
}

.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar {
    width: 50%;
}

.side-image {
    object-fit: cover;
    object-position: left;
    height: 100vh;
}

.odin-logo {
    font-family: norse-bold;
    font-size: 70px;
    color: white;
    background-color: rgb(3 3 3 / 57%);
    opacity: 1.50;
    position: absolute;
    top: 70px;
}

.text-area {
    background-color: #bc8f8f30;
    font-weight: bold;
    min-height: 220px;
    padding: 20px;
}

.form {
    padding: 20px;
}

.image-credit {
    background-color: red;
    position: absolute;
    bottom: 10px;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #596D48;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}